<div class="app-container">
  <app-image-drop (files)="imagesDropped($event)" class="app-preview">
    <div class="image-preview">
      <!-- <div class="image-preview-side">
        <app-image-processor *ngIf="imageData" [highQuality]="true" [imageData]="imageData"></app-image-processor>
        Before
      </div> -->
      <div class="image-preview-side">
        <app-image-processor *ngIf="imageData" [requireLut]="true" [highQuality]="true" [imageData]="imageData"
          [lut]="lutData"></app-image-processor>
        {{lutName || 'After'}}
      </div>
    </div>

    <!-- <h2 class="drop-prompt">Drag-and-drop an image to preview here.</h2> -->
  </app-image-drop>

  <app-image-drop (files)="lutsDropped($event)" class="app-luts">
    <app-lut-selector [image]="imageDataSmall" [luts]="luts" (lutSelected)="lutSelected($event)"></app-lut-selector>

    <h2 class="drop-prompt">Drag-and-drop LUTs to preview here.</h2>
  </app-image-drop>
</div>