<div class="app-container">
  <app-image-drop (files)="imagesDropped($event)" class="app-preview">
    <div class="image-preview">
      <!-- <div class="image-preview-side">
        <app-image-processor *ngIf="imageData" [highQuality]="true" [imageData]="imageData"></app-image-processor>
        Before
      </div> -->
      <div class="image-preview-side">
        <app-image-processor #main [requireLut]="true" [highQuality]="true" [imageData]="imageData" [lut]="lutData">
        </app-image-processor>
        <app-image-processor #lut [style.max-width]="(imageData?.width ? imageData!.width + 'px' : undefined)"
          [requireLut]="false" [highQuality]="true" [imageData]="lutData"></app-image-processor>

        <div class="lut-bar">
          <span class="lut-name">{{lutName || 'After'}}</span>
          <span class="lut-actions">
            <a href="#" (click)="main.save((imageName || 'image') + '-' + (lutName || 'lut'), 'png')">Save .png</a>
            <a href="#" (click)="main.save((imageName || 'image') + '-' + (lutName || 'lut'), 'jpg')">Save .jpg</a>
            <a href="#" (click)="lut.save(lutName || 'lut', 'png')">Save LUT</a>
          </span>
        </div>

        <h2 *ngIf="imageName === 'Lenna'" class="drop-prompt">Drag-and-drop an image to preview here.</h2>
      </div>
    </div>
  </app-image-drop>

  <app-image-drop (files)="lutsDropped($event)" class="app-luts">
    <app-lut-selector [image]="imageDataSmall" [luts]="luts" (lutSelected)="lutSelected($event)"></app-lut-selector>

    <h2 class="drop-prompt">Drag-and-drop .png file LUTs to preview here.</h2>
    <br/>
    <a *ngIf="luts.length > 1" href="#" (click)="clearLuts()">Clear LUT list</a>
  </app-image-drop>
</div>

<!-- TODO: credit sources -->